.half-day-elem {
  display: flex;
  width: 250px;
  margin: 0 50px;
}

.one-hour-elem {
  position: relative;
  height: 180px;
}
.one-hour-elem:before {
  content: '';
  position: absolute;
  z-index: 10;
  width: 250px;
  border-top: 1px solid grey;
}

.times {
  width: 40px;
  font: normal 16px/1 'OpenSans';
}

.start-hour {
  text-align: center;
}

.half-past-hour {
  margin-top: 75px;
  font-size: 12px;
  text-align: center;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  width: 200px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

.task {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  border-left: 3px solid #6E9ECF;
  background-color: #E2ECF5;
  list-style-type: none;
}

.delete-task-button {
  width: 20px;
  border: 0;
  background: #6E9ECF;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.task-title {
  margin: 5px;
  overflow: hidden;
  font: normal 14px/1 'OpenSans';
  white-space: nowrap;
  text-overflow: ellipsis;
}