.calendar-main {
  display: flex;
  justify-content: center;
}

.delete-task-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border: 0;
  background: #6E9ECF;
  color: white;
  font-size: 13px;
  cursor: pointer;
}